# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Eastwood/\.vs/Eastwood/v15/\.suo

Eastwood/\.vs/Eastwood/v15/Browse\.VC\.db

Eastwood/\.vs/Eastwood/v15/Browse\.VC\.opendb

Eastwood/\.vs/Eastwood/v15/ipch/AutoPCH/24e6e3746fc4c6a6/MAIN\.ipch

Eastwood/\.vs/Eastwood/v15/ipch/AutoPCH/8294ec9c68220e4b/MAIN\.ipch

Eastwood/\.vs/Eastwood/v15/ipch/AutoPCH/946270bb5c099948/MAIN\.ipch

Eastwood/bin/Launcher_Debug\.ilk

Eastwood/bin/Launcher_Debug\.pdb

Eastwood/Eastwood/Debug/Eastwood\.log

Eastwood/Eastwood/Debug/Eastwood\.tlog/CL\.command\.1\.tlog

Eastwood/Eastwood/Debug/Eastwood\.tlog/CL\.read\.1\.tlog

Eastwood/Eastwood/Debug/Eastwood\.tlog/CL\.write\.1\.tlog

Eastwood/Eastwood/Debug/Eastwood\.tlog/Eastwood\.lastbuildstate

Eastwood/Eastwood/Debug/Eastwood\.tlog/link\.command\.1\.tlog

Eastwood/Eastwood/Debug/Eastwood\.tlog/link\.read\.1\.tlog

Eastwood/Eastwood/Debug/Eastwood\.tlog/link\.write\.1\.tlog

Eastwood/Eastwood/Debug/vc141\.idb

Eastwood/Eastwood/Debug/vc141\.pdb

Eastwood/trash/Eastwood\.log

Eastwood/trash/Eastwood\.tlog/CL\.command\.1\.tlog

Eastwood/trash/Eastwood\.tlog/CL\.read\.1\.tlog

Eastwood/trash/Eastwood\.tlog/CL\.write\.1\.tlog

Eastwood/trash/Eastwood\.tlog/Eastwood\.lastbuildstate

Eastwood/trash/Eastwood\.tlog/link\.command\.1\.tlog

Eastwood/trash/Eastwood\.tlog/link\.read\.1\.tlog

Eastwood/trash/Eastwood\.tlog/link\.write\.1\.tlog

Eastwood/trash/vc141\.idb

Eastwood/trash/vc141\.pdb

*.ipch

*.cmake

*.pdb

*.config

Eastwood/trash/Eastwood\.tlog/

Eastwood/trash/Launcher_Debug\.Build\.CppClean\.log
